{% include 'header' %}

import Cocoa

class {{ module_info.name }}ViewController: NSViewController, {{ module_info.name }}ViewInput {
    
  var output: {{ module_info.name }}ViewOutput!
  var viewReadyClosure: (() -> ())?

  override func viewDidLoad() {
    super.viewDidLoad()
    self.output.didTriggerViewReadyEvent()
  }
    
  override func viewWillAppear() {
    super.viewWillAppear()
    self.output.didTriggerViewWillAppearEvent()
  }

  //MARK : - {{ module_info.name }}ViewInput

  func setupViewReadyClosure(_ closure: @escaping () -> ()) {
    self.viewReadyClosure = closure;
  }
  
  //MARK : - Private
    
}
