{% include 'header' %}

class {{ module_info.name }}Presenter {
  
  weak var view: {{ module_info.name }}ViewInput!
  var interactor: {{ module_info.name }}InteractorInput!
  var router: {{ module_info.name }}RouterInput!
  weak var moduleOutput: {{ module_info.name }}ModuleOutput!
    
}

extension {{ module_info.name }}Presenter: {{ module_info.name }}ModuleInput {
    
}

extension {{ module_info.name }}Presenter: {{ module_info.name }}ViewOutput {
  
  func didTriggerViewReadyEvent() {
    
  }
  
  func didTriggerViewWillAppearEvent() {
    
  }
    
}

extension {{ module_info.name }}Presenter: {{ module_info.name }}InteractorOutput {
  
}