{% include 'header' %}

import Cocoa

class {{ module_info.name }}Assembly {
  
  static let {{ module_info.name }}ViewControllerIdentifier = "{{ module_info.name }}ViewController"
  static let {{ module_info.name }}ViewControllerNibName = "{{ module_info.name }}ViewController"
  static let {{ module_info.name }}ViewControllerStoryboardName = <#(nonnull NSString *)#>
  
  var view: {{ module_info.name }}ViewController
  var presenter: {{ module_info.name }}Presenter
  var router: {{ module_info.name }}Router
  var interactor: {{ module_info.name }}Interactor
  
  init() {
    self.view = {{ module_info.name }}Assembly.view{{ module_info.name }}()
    self.presenter = {{ module_info.name }}Assembly.presenter{{ module_info.name }}()
    self.router = {{ module_info.name }}Assembly.router{{ module_info.name }}()
    self.interactor = {{ module_info.name }}Assembly.interactor{{ module_info.name }}()
  }
  
  //MARK: - Public
  class func assembleModuleWithOutput(_ moduleOutput: {{ module_info.name }}ModuleOutput,
                                        transitionClosure: (({{ module_info.name }}RouterInput) -> ())?,
                                        completion: (({{ module_info.name }}ModuleInput) -> ())?) {
    
    {{ module_info.name }}Assembly().assembleModuleWithOutput(moduleOutput, transitionClosure: transitionClosure, completion: completion)
    
  }
  
  //MARK: - Private instance method analog
  func assembleModuleWithOutput(_ moduleOutput: {{ module_info.name }}ModuleOutput,
                                  transitionClosure: (({{ module_info.name }}RouterInput) -> ())?,
                                  completion: (({{ module_info.name }}ModuleInput) -> ())?) {
    
    configureDependenciesWithModuleOutput(moduleOutput)
    
    view.setupViewReadyClosure {
      self.addChildComponents()
      if completion != nil {
        completion!(self.presenter)
      }
    }
    
    if transitionClosure != nil {
      transitionClosure!(self.router)
    }
    
  }
  
  //MARK: - Child components
  func addChildComponents() {
    // Present child submodules here
  }
  
  //MARK: - Dependencies
  func configureDependenciesWithModuleOutput(_ moduleOutput: {{ module_info.name }}ModuleOutput) {
    presenter.view = view
    view.output = presenter
    
    presenter.router = router as {{ module_info.name }}RouterInput
    router.view = view
    presenter.interactor = interactor
    interactor.output = presenter as {{ module_info.name }}InteractorOutput
    
    presenter.moduleOutput = moduleOutput
    
  }
  
  //MARK: - Factory methods
  class func view{{ module_info.name }}() -> {{ module_info.name }}ViewController {
    let storyboard: NSStoryboard = NSStoryboard(name: NSStoryboard.Name(rawValue: {{ module_info.name }}ViewControllerStoryboardName), bundle: Bundle.main)
    let vc: {{ module_info.name }}ViewController = storyboard.instantiateController(withIdentifier: NSStoryboard.SceneIdentifier(rawValue: {{ module_info.name }}ViewControllerIdentifier)) as! {{ module_info.name }}ViewController
    //uncomment for initialize from the nib file
//    let vc: {{ module_info.name }}ViewController = {{ module_info.name }}ViewController(nibName: NSNib.Name(rawValue: {{ module_info.name }}ViewControllerNibName), bundle: Bundle.main)
    return vc
  }
  
  class func presenter{{ module_info.name }}() -> {{ module_info.name }}Presenter {
    return {{ module_info.name }}Presenter()
  }
  
  class func router{{ module_info.name }}() -> {{ module_info.name }}Router {
    return {{ module_info.name }}Router()
  }

  class func interactor{{ module_info.name }}() -> {{ module_info.name }}Interactor {
    return {{ module_info.name }}Interactor()
  }
    
}