{% include 'header' %}

import Cocoa

protocol BaseRouterInput: class {
  
  func openModuleModalFromViewController(_ viewController: NSViewController)
  func openModuleAsSheetFromViewController(_ viewController: NSViewController)
  func openModulAsPopoverFromViewController(_ viewController: NSViewController, asPopoverRelativeTo positioningRect: NSRect, of positioningView: NSView, preferredEdge: NSRectEdge, behavior: NSPopover.Behavior)
  func openModuleFromViewController(_ viewController: NSViewController, animator: NSViewControllerPresentationAnimator)
  func openModuleFromViewController(_ viewController: NSViewController, inContainerView containerView: NSView, withInsets insets: NSEdgeInsets)
  func closeModule()
  
}