{% include 'header' %}

import Cocoa

class BaseRouter {

  weak var view: NSViewController?
  
}

extension BaseRouter: BaseRouterInput {
  
  func openModuleFromViewController(_ viewController: NSViewController, inContainerView containerView: NSView, withInsets insets: NSEdgeInsets) {
    viewController.add(childViewController: self.view!, to: containerView)
    self.view!.view.frame = containerView.bounds
    containerView.addSubview(self.view!.view)
    if let parent = self.view!.view.superview {
      let topConstraint = NSLayoutConstraint(item: self.view!.view, attribute: .top, relatedBy: .equal, toItem: parent, attribute: .top, multiplier: 1, constant: insets.top)
      let bottomConstraint = NSLayoutConstraint(item: self.view!.view, attribute: .bottom, relatedBy: .equal, toItem: parent, attribute: .bottom, multiplier: 1, constant: insets.bottom)
      let trailingConstraint = NSLayoutConstraint(item: self.view!.view, attribute: .trailing, relatedBy: .equal, toItem: parent, attribute: .trailing, multiplier: 1, constant: insets.right)
      let leadingConstraint = NSLayoutConstraint(item: self.view!.view, attribute: .leading, relatedBy: .equal, toItem: parent, attribute: .leading, multiplier: 1, constant: insets.left)

      parent.addConstraints([topConstraint, bottomConstraint, trailingConstraint, leadingConstraint])
    }
  }
  
  
  func openModuleModalFromViewController(_ viewController: NSViewController) {
    viewController.presentViewControllerAsModalWindow(self.view!)
  }
  
  func openModuleAsSheetFromViewController(_ viewController: NSViewController) {
    viewController.presentViewControllerAsSheet(self.view!)
  }
  
  func openModulAsPopoverFromViewController(_ viewController: NSViewController, asPopoverRelativeTo positioningRect: NSRect, of positioningView: NSView, preferredEdge: NSRectEdge, behavior: NSPopover.Behavior) {
    viewController.presentViewController(self.view!, asPopoverRelativeTo: positioningRect, of: positioningView, preferredEdge: preferredEdge, behavior: behavior)
  }
  
  func openModuleFromViewController(_ viewController: NSViewController, animator: NSViewControllerPresentationAnimator) {
    viewController.presentViewController(self.view!, animator: animator)
  }
  
  func closeModule() {
    if self.view?.presenting != nil {
      self.view!.presenting?.dismissViewController(self.view!)
    } else {
      self.view?.view.window?.close()
    }
  }

}
